@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);


a {
    text-decoration: none;
    /*color: #333447;*/
}

#avatar {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.active {
    font-weight: 700;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

/* green: #02b875; #00ab6b; */
/* yellow: #F7B401 */

body { }

blockquote {
    font-style: italic;
}

#container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.date {
    margin-top:  -15px;
    margin-bottom: 35px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2.0px;
    font-weight: 400;
}

figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

figure h4 {
    text-align: center;
    font-weight: 400;
}

footer {
    clear: both;
}

html {
    border-top: solid 4px #333447; 
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header {
}

.entry {
    font-weight: 200;
    font-size: 16px;
}

.entry a {
    font-weight: 400;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    -webkit-transition: border 300ms ease-in-out;
    -moz-transition: border 300ms ease-in-out;
    -ms-transition: border 300ms ease-in-out;
    -o-transition: border 300ms ease-in-out;
    transition: border 300ms ease-in-out;
}

.entry a:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}


.entry-title {
    /*font-weight: 400;*/
    /*border-bottom: 1px solid rgba(0, 0, 0, 0);
    -webkit-transition: border 300ms ease-in-out;
    -moz-transition: border 300ms ease-in-out;
    -ms-transition: border 300ms ease-in-out;
    -o-transition: border 300ms ease-in-out;
    transition: border 300ms ease-in-out;*/
}

.entry-title:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.entry-code {
}

.entry-author {
}

.entry-published {
    font-style: italic;
}

.entry-media {
}

.entry-resources {
    margin-top: 8px;
    margin-bottom: 15px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2.0px;
}

li {
    margin-bottom: 10px;
    padding-left: 5px;
}

/*
nav {
}

nav ul {
    margin: 0 0 0 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
    float: none;
}
*/


.me {
    font-weight: 400;
    /*color:#00ab6b;*/
    letter-spacing: 2.0px;
    font-size: 14px;

/* green: #02b875;  */

}

.navigation {
    margin: 35px 0 15px 0;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2.0px;
    font-weight: 400;
}

.navigation a:hover {
    color: #000000;
    transition: color 300ms ease, margin-top 300ms ease;
}

.navigation span:not(:last-child):after {
    content: " /"
}

p {
    text-align: justify;
}

#posts h3 {
    font-weight: 400;
}


#posts h3 > a {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    -webkit-transition: border 300ms ease-in-out;
    -moz-transition: border 300ms ease-in-out;
    -ms-transition: border 300ms ease-in-out;
    -o-transition: border 300ms ease-in-out;
    transition: border 300ms ease-in-out;
}

#posts h3 > a:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}


#posts ul, #posts li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.post a, #about a, #home a {
    /*color: #0084b4;*/
    /*color: #4183D7; */
    font-weight: 400;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    -webkit-transition: border 300ms ease-in-out;
    -moz-transition: border 300ms ease-in-out;
    -ms-transition: border 300ms ease-in-out;
    -o-transition: border 300ms ease-in-out;
    transition: border 300ms ease-in-out; 
}

.post a:hover, #about a:hover, #home a:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

#research ol {
    list-style-type: decimal-leading-zero;
}

#sidebar {
    text-align: center;
}

#sidebar h1 {
    font-weight: 400;
    margin-bottom: 0px;
}

#sidebar h1 a:hover {
    color: #000000;
    transition: color 300ms ease, margin-top 300ms ease;
}

.social {
    margin: 20px 0 0 0;
}

.social i {
    color: #898989;
    margin-left: 12px;
    transition: color 300ms ease, margin-top 300ms ease;

    /* Circle around icons */
    font-size: 14px;
    border-radius: 50%;
    border: 1px solid #898989; 
    transition: border-color 300ms ease;  
    padding: 10px;
}

.social i:hover {
    color: #000000;
    border: 1px solid #000000;
}

/*
.social #twitter:hover {
    color: #0084b4;
}

.social #github:hover {
    color: #000000; 
}

.social #google:hover {
    color: #D43402;
}
*/

/*
.social #mail:hover {
    color: #00ab6b; 
}
*/
/*color: #F7B401;*//*#02b875;*/ /*#00ab6b;*/
strong {
    font-weight: 400;
}


#talks ul, #talks li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


#research ul, #research ol, #research li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


@media only screen and (min-width: 33.75em) {  /* 540px */
}

@media only screen and (min-width: 45em) {  /* 720px */

    #home {
        padding-top: 50px; /* 100px */
    }

    nav ul {
        text-align: right;
    }

    section {
        padding-top: 15px;
        padding-bottom: 50px;
    }

    #sidebar {
        text-align: right;
        height: 100%;       
        position: fixed;    
        overflow: auto;     
        padding-top: 0px;
    }

    .social {
        margin: 30px 0 0 0;
    }

}

@media only screen and (min-width: 60em) { /* 960px */
}
