<section id="about">

    <h2>About</h2>

    <p>
    Hi! This is Philipp. I am a postdoctoral researcher at the Decentralized
    and Distributed Systems Lab at the
    <a href="https://epfl.ch">École Polytechnique Fédérale de Lausanne</a>, Switzerland. I completed my PhD
    in cryptology in 2015 at the <a href="http://www.fim.uni-passau.de/en/csm_faculty/">Faculty of Computer Science and
        Mathematics</a> of the University of
    Passau, Germany.
    </p>
    
    <p>
    Among other topics, I am interested in applied cryptography, digital privacy
    protection, and IT-security. At the moment, I am in particular busy with
    the analysis and design of authenticated encryption schemes, distributed
    cryptographic protocols, and cryptocurrencies.
    </p>

</section>
