<li class="entry"> 
    <div>
        <a class="entry-title" href={{ .pdf }}>{{ .title }}</a>
    </div>
    <div class="entry-author">
        {{ .authors }}
    </div>
    <div class="entry-published">
        <a href={{ .puburl }}>{{ .pub }}</a>
    </div>
    <div class="entry-resources">
        {{ if .pdf }}<a href={{ .pdf }}>{{ .type }}</a>{{ end }}{{ if .code }} / <a href={{ .code }}>code</a>{{ end }}
    </div>
    {{ if .media }}
    <div class="entry-resources">
        {{ $list := (.media) }}
        {{ $len := (len $list) }}
        {{ range $i, $e := .media }}<a href={{ $e.url }}>{{ $e.entry }}</a>{{ if ne (add $i 1) $len }} / {{ end }}{{ end }}
    </div>
    {{ end }}
</li>
