<li class="entry"> 
    <div>
        <a class="entry-title" href={{ .pdf }}>{{ .title }}</a>
    </div>
    <div class="entry-author">
        {{ .authors }}
    </div>
    <div class="entry-published">
        {{ .published }}
    </div>
    <div class="entry-resources">
    <a href={{ .pdf }}>paper</a>{{ if .code }} / <a href={{ .code }}>code</a>{{ end }}
    {{ if .media }}
        {{ $list := (.media) }}
        {{ $len := (len $list) }}
        {{ range $i, $e := .media }} / <a href={{ $e.url }}>{{ $e.entry }}</a>{{ if ne (add $i 1) $len }} {{ end }}{{ end }}
    {{ end }}
    </div>
</li>
