<section class="home">

    <!--<img id="avatar" src="/img/philipp-jovanovic-bw.png" alt="Philipp Jovanovic" />-->

    <p>
        Hi, I am <strong>Philipp Jovanovic</strong>. 
        You might know me also as <a href="https://twitter.com/daeinar">Daeinar</a>.
    </p>

    <p>
        I am a <a href="https://en.wikipedia.org/wiki/Cryptography">cryptographer</a> 
        currently working as a postdoctoral researcher in the 
        <a href="http://dedis.epfl.ch/">Decentralized and Distributed Systems Lab</a> 
        at the <a href="https://epfl.ch">École polytechnique fédérale de Lausanne</a>, 
        Switzerland. 
    </p>

    <p>
        I completed my PhD in cryptology in 2015 at the 
        <a href="http://www.fim.uni-passau.de/en/csm_faculty/">Faculty of Computer Science and Mathematics</a> 
        of the University of Passau, Germany. My 
        <a href="https://opus4.kobv.de/opus4-uni-passau/files/331/thesis_jovanovic.pdf">PhD thesis</a>
        received the 
        <a href="http://www.uni-passau.de/forschung/wissenschaftspreise/dissertationspreise/">2016 dissertation award</a> 
        of the University of Passau in the area of mathematics / computer science.
    </p>

    <p>
        My research interests broadly include applied cryptography, information
        security, and distributed and decentralized systems. These days, I
        am working on next-generation authenticated encryption schemes,
        decentralized protocols for unbiasable, public-verifiable randomness, 
        mechanisms to secure software updates, scalability aspects of blockchain technology, 
        and various other things.
    </p>

    <p>
        You can contact me by <a href="https://keybase.io/daeinar/key.asc">encrypted</a>
        e-mail at <a href="mailto:philipp@jovanovic.io">philipp@jovanovic.io</a>. 
    </p>

</section>
