<section id="sidebar">

    <h1><a href='{{ .Site.BaseURL }}'>Z&#926;ROBYT&#926;</a></h1>

    <div class="me">by Philipp Jovanovic</div>

    <nav>

        <!--<div class="navigation">
            <a href='{{ .Site.BaseURL }}blog'>Blog</a>
            <a href='{{ .Site.BaseURL }}research'>Research</a>
            <a href='{{ .Site.BaseURL }}talks'>Talks</a>
            <a href='{{ .Site.BaseURL }}about'>About</a>
        </div>-->

        <div class="navigation">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <a class="{{if or ($currentPage.IsMenuCurrent "main" . ) ($currentPage.HasMenuCurrent "main" . ) }} active{{end}}" href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
        </div>

        <div class="social">
            <a href="mailto:philipp@jovanovic.io">
                <i id="mail" class="fa fa-envelope"></i>
            </a>
            <a href="https://twitter.com/daeinar">
                <i id="twitter" class="fa fa-twitter"></i>
            </a>
            <a href="https://github.com/daeinar">
                <i id="github" class="fa fa-github"></i>
            </a>
            <a href="https://scholar.google.ch/citations?user=p-KBDi8AAAAJ&hl=en">
                <i id="google" class="fa fa-google"></i>
            </a>
        </div>

        <!--{{ range .Site.Menus.main }}
            {{ printf "%#v" . }}
            {{ end }}-->

    </nav>


    <!--
    <p></p>
    <div>OTR-ID</div>
    <div id="crypto-id">
        1D8D CBD1 18DB 3B4D A7F2<br>97FC 7FA0 0B0B 4491 A7E0
    </div>-->



</section>

