<section class="sidebar">

    <h1><a href='{{ .Site.BaseURL }}'>Z&#926;ROBYT&#926;</a></h1>

    <div class="me">by Philipp Jovanovic</div>

    <nav>
        {{ $currentPage := . }}

        <div class="navigation">
            {{ range .Site.Menus.main }}
            <span>
                <a class="{{if or ( $currentPage.IsMenuCurrent "main" . ) ( $currentPage.HasMenuCurrent "main" . ) }}active{{end}}" href="{{ .URL }}">{{ .Name }}</a>
            </span>
            {{ end }}
        </div>

        <div class="social">
            <a href="mailto:philipp@jovanovic.io">
                <i class="fa fa-paper-plane"></i>
            </a>
            <a href="https://twitter.com/daeinar">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="https://github.com/daeinar">
                <i class="fa fa-github"></i>
            </a>
            <!--<a href="#">
                <i id="linkedin" class="fa fa-linkedin"></i>
            </a>-->
            <a href="https://scholar.google.ch/citations?user=p-KBDi8AAAAJ&hl=en">
                <i class="fa fa-google"></i>
            </a>
        </div>
    </nav>

</section>

