<section id="sidebar">

    <h1><a href='{{ .Site.BaseURL }}'>Z&#926;ROBYT&#926;</a></h1>

    <div>by Philipp Jovanovic</div>

    <nav>
        <div>
        <ul>
            <li><a href='{{ .Site.BaseURL }}blog'>Blog</a>
            <li><a href='{{ .Site.BaseURL }}research'>Research</a></li>
            <li><a href='{{ .Site.BaseURL }}talks'>Talks</a></li>
            <li><a href='{{ .Site.BaseURL }}about'>About</a></li>
        </ul>
        </div>
        <div>
        <ul>
            <li>
                <a href="mailto:philipp@jovanovic.io">
                    <i class="fa fa-envelope"></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/daeinar">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/daeinar">
                    <i class="fa fa-github"></i>
                </a>
            </li>
            <li>
                <a href="https://scholar.google.ch/citations?user=p-KBDi8AAAAJ&hl=en">
                    <i class="fa fa-google"></i>
                </a>
            </li>
        </ul>
        </div>
    </nav>


    <!--
    <p></p>
    <div>OTR-ID</div>
    <div id="crypto-id">
        1D8D CBD1 18DB 3B4D A7F2<br>97FC 7FA0 0B0B 4491 A7E0
    </div>-->



</section>

